.about-container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.profile-section {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    
    border-radius: 8px;
    background-color: #f9f9f9;
}

.profile-image {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    border-radius: 50%;
}

.profile-text {
    text-align: left;
}

.profile-text h2 {
    margin: 0 0 10px;
}

.profile-text p {
    margin: 0;
}

