.login-card{

    text-align: center;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers buttons horizontally */
  }
  
  .button {
    margin: 10px 0; /* Adds vertical spacing between buttons */
    padding: 10px 20px; /* Adjust the padding for button size */
  }
  

  